#container {
    width: 450px;
    height: 400px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 3px 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

#container #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#avatar {
    width: 48px;
    height: 48px;
    background-color: dodgerblue;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

#container #items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}