* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #682bd7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 20;
  opacity: 0;
  transition: all ease .5s;
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.overlay.active.transparent {
  opacity: 0;
  z-index: 18;
}

.overlay.active.pointer {
  cursor: pointer;
}